In [1]:
4loco = 4

SyntaxError: invalid syntax (1009544083.py, line 1)

In [2]:
_GAME_ = 3

In [1]:
_GAME_

NameError: name '_GAME_' is not defined

In [2]:
Game = 3

In [3]:
{True:'True',False:'False'}

{True: 'True', False: 'False'}

In [4]:
iterate_me = (0,1,2,3,4)
iterate_me = (1,2,3,4,5)

In [5]:
iterate_me[2] == 12

False

In [6]:
iterate_me[7] == 4

IndexError: tuple index out of range

In [7]:
x=3
y=3
print(str(x) + '+' + str(y) + '=' + str(x+y))

3+3=6

In [1]:
for ii in range(5):
    x=ii-3
print(x)

1

In [9]:
x

1

In [3]:
import pandas as pd
df = pd.DataFrame({'var_x':[1,4,7,10,13], 'var_y':[2,5,8,11,14], 'var_z':[3,6,9,12,15]})
print(df)

   var_x  var_y  var_z
0      1      2      3
1      4      5      6
2      7      8      9
3     10     11     12
4     13     14     15

In [4]:
df[(df['var_y'] > 7) & (df['var_z'] <= 12)][['var_x','var_z']]

   var_x  var_z
2      7      9
3     10     12

In [8]:
df[(df['var_y'] > 7) & (df['var_z'] <= 12)]

   var_x  var_y  var_z
2      7      8      9
3     10     11     12

In [5]:
df[2:4][['var_x','var_z']]

   var_x  var_z
2      7      9
3     10     12

In [6]:
df[['var_x','var_z']].iloc[2:4]

   var_x  var_z
2      7      9
3     10     12

In [7]:
df[['var_x','var_z']].iloc[-3:-1]

   var_x  var_z
2      7      9
3     10     12

In [9]:
df['var_x'] < df['var_z']

0    True
1    True
2    True
3    True
4    True
dtype: bool

In [10]:
df['var_w'] = [False, False, True, True, False]

In [11]:
df

   var_x  var_y  var_z  var_w
0      1      2      3  False
1      4      5      6  False
2      7      8      9   True
3     10     11     12   True
4     13     14     15  False

In [12]:
df[5] = [16, 17, 18]

ValueError: Length of values (3) does not match length of index (5)

In [1]:
(0.9 * 0.1) / ((0.9 * 0.1) + (0.1 * 0.9))

0.5

In [2]:
0.78 / .8

0.975

In [10]:
.25*.75

0.1875

In [4]:
(0.03 * 0.99) / ((0.03 * 0.99) + (0.97 * 0.02))

0.6048879837067209

In [5]:
(0.53 * 0.37) / ((0.37 * 0.53) + (0.44 * 0.47))

0.4867212707867957

In [7]:
.023/.1262

0.18225039619651345

In [8]:
0.2099/.8738

0.24021515220874343

SyntaxError: invalid syntax (4010159518.py, line 1)