In [1]:
import math
import numpy as np
import pandas as pd

In [2]:
cars = pd.read_csv('cars.csv')

In [3]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38531 entries, 0 to 38530
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   manufacturer_name  38531 non-null  object
 1   model_name         38531 non-null  object
 2   transmission       38531 non-null  object
 3   color              38531 non-null  object
 4   odometer_value     38531 non-null  int64
 5   year_produced      38531 non-null  int64
 6   engine_fuel        38531 non-null  object
 7   engine_has_gas     38531 non-null  bool
 8   engine_type        38531 non-null  object
 9   engine_capacity    38521 non-null  float64
 10  body_type          38531 non-null  object
 11  has_warranty       38531 non-null  bool
 12  state              38531 non-null  object
 13  drivetrain         38531 non-null  object
 14  price_usd          38531 non-null  float64
 15  is_exchangeable    38531 non-null  bool
 16  location_region    38531 non-null  object
 17  number_of_photos   38531 non-null  int64
 18  up_counter         38531 non-null  int64
 19  feature_0          38531 non-null  bool
 20  feature_1          38531 non-null  bool
 21  feature_2          38531 non-null  bool
 22  feature_3          38531 non-null  bool
 23  feature_4          38531 non-null  bool
 24  feature_5          38531 non-null  bool
 25  feature_6          38531 non-null  bool
 26  feature_7          38531 non-null  bool
 27  feature_8          38531 non-null  bool
 28  feature_9          38531 non-null  bool
 29  duration_listed    38531 non-null  int64
dtypes: bool(13), float64(2), int64(5), object(10)
memory usage: 5.5+ MB

In [4]:
price = cars['price_usd']

In [5]:
price.head()

0    10900.00
1     5000.00
2     2800.00
3     9999.00
4     2134.11
Name: price_usd, dtype: float64

In [6]:
sum(price) / len(price)

6639.971021255604

In [7]:
price.mean()

6639.971021255613

In [8]:
np.mean(price)

6639.971021255613

In [9]:
price.median()

4800.0

In [10]:
np.median(price)

4800.0

In [11]:
price.mode()

0    1500.0
Name: price_usd, dtype: float64

In [12]:
price.skew()

2.2370852026116492

### Range

In [13]:
max(price) - min(price)

49999.0

In [14]:
price.max() - price.min()

49999.0

In [15]:
np.ptp(price)

49999.0

### Inter-Quartile Range

In [16]:
price.quantile(.75) - price.quantile(.25)

6890.0

In [19]:
import scipy.stats as stats
stats.iqr(price)

6890.0

### Variance

In [20]:
price_devs = price - price.mean()
price.head()

0    10900.00
1     5000.00
2     2800.00
3     9999.00
4     2134.11
Name: price_usd, dtype: float64

In [21]:
sum(price_devs)

-2.0117448002565652e-05

In [23]:
sum((price_devs**2) / len(price)-1)

41281534.95630595

In [24]:
price.var()

41321138.369126216

In [25]:
np.var(price ,ddof=1)

41321138.369126216

### Standard Deviation

In [26]:
math.sqrt(price.var())

6428.152018202915

In [27]:
np.sqrt(price.var())

6428.152018202915

In [30]:
price.std()

6428.152018202915

In [29]:
np.std(price, ddof=1)

6428.152018202915

In [31]:
price.describe()

count    38531.000000
mean      6639.971021
std       6428.152018
min          1.000000
25%       2100.000000
50%       4800.000000
75%       8990.000000
max      50000.000000
Name: price_usd, dtype: float64

# Progress Check

In [32]:
odom = cars['odometer_value']

In [33]:
odom.std()

136072.3765297819

In [34]:
stats.iqr(odom)

167000.0

In [35]:
odom.median()

250000.0

In [36]:
odom.head()

0    190000
1    290000
2    402000
3     10000
4    280000
Name: odometer_value, dtype: int64

In [37]:
3+2*6-5**(5-3)+18

8

In [38]:
10-2*5+(2**2-3)**5

1

In [39]:
3.2*10**4

32000.0

In [40]:
8.67*10**-9

8.670000000000001e-09

In [41]:
value = 0
for i in range(1,4):
    value += 2**i

value

14

:

# 1-6 Plotting